<app-masterclass>
  <section class="characters-result">
    <div class="characters-result__item">
      <div class="characters-result__item__photo">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/03/5317713c9e746.jpg" alt="" />
      </div>

      <span class="characters-result__item__name">Spider-Man (1602)</span>

      <div class="characters-result__item__tags">
        <app-chip>10 movies</app-chip>
        <app-chip>10 stories</app-chip>
        <app-chip>10 comics</app-chip>
        <app-chip>10 events</app-chip>
      </div>
    </div>

    <div class="characters-result__item">
      <div class="characters-result__item__photo">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/03/5317713c9e746.jpg" alt="" />
      </div>

      <span class="characters-result__item__name">Spider-Man (1602)</span>

      <span>10 movies</span>
      <span>10 stories</span>
      <span>10 comics</span>
      <span>10 events</span>
    </div>

    <div class="characters-result__item">
      <div class="characters-result__item__photo">
        <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/03/5317713c9e746.jpg" alt="" />
      </div>

      <span class="characters-result__item__name">Spider-Man (1602)</span>

      <span>10 movies</span>
      <span>10 stories</span>
      <span>10 comics</span>
      <span>10 events</span>
    </div>
  </section>
</app-masterclass>
