<app-masterclass>
  <ng-container *ngIf="charactersResult.total > 0">
    <section class="characters-result">
      <ng-container *ngIf="charactersResult">
        <div
          class="characters-result__item"
          *ngFor="let character of charactersResult.characters"
          (click)="handleDetail(character)"
        >
          <div class="characters-result__item__photo">
            <img [src]="character.cover.url" [alt]="character.name" />
          </div>

          <div class="characters-result__item__content">
            <span class="characters-result__item__content__character-name">
              {{ character.name }}
            </span>

            <div class="characters-result__item__content__tags">
              <app-chip color="success" *ngIf="character.totalComics > 0">{{ character.totalComics }} comics</app-chip>
              <app-chip color="warning" *ngIf="character.totalStories > 0"
                >{{ character.totalStories }} stories</app-chip
              >
              <app-chip color="danger" *ngIf="character.totalSeries > 0">{{ character.totalSeries }} series</app-chip>
              <app-chip *ngIf="character.totalEvents > 0">{{ character.totalEvents }} events</app-chip>
            </div>
          </div>
        </div>
      </ng-container>
    </section>

    <section class="load-more" *ngIf="charactersResult.total > charactersResult.count">
      <button (click)="loadMore()">Load more</button>
    </section>
  </ng-container>

  <section *ngIf="charactersResult.total === 0" class="empty-results">
    <img class="empty-results__image" src="assets/captain-america.png" width="600px" height="600px" />
    <strong class="empty-results__title">No results characters</strong>
    <span class="empty-results__sub-title"
      >Be happy with the result, because the whole range of characters are at your disposal</span
    >
  </section>
</app-masterclass>
