<app-masterclass>
  <ng-container *ngIf="charactersResult">
    <section class="characters-result">
      <ng-container *ngIf="charactersResult">
        <div class="characters-result__item" *ngFor="let character of charactersResult.characters">
          <div class="characters-result__item__photo">
            <img [src]="character.cover.url" [alt]="character.name" />
          </div>

          <div class="characters-result__item__content">
            <span class="characters-result__item__content__character-name">
              {{ character.name }}
            </span>

            <div class="characters-result__item__content__tags">
              <app-chip color="success">{{ character.totalComics }} comics</app-chip>
              <app-chip color="warning">{{ character.totalStories }} stories</app-chip>
              <app-chip color="danger">{{ character.totalSeries }} series</app-chip>
              <app-chip>{{ character.totalEvents }} events</app-chip>
            </div>
          </div>
        </div>
      </ng-container>
    </section>

    <section class="load-more" *ngIf="charactersResult.total > charactersResult.count">
      <button (click)="loadMore()">Load more</button>
    </section>
  </ng-container>
</app-masterclass>
