@import '../../variables.scss';

:host {
  .characters-result {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;

    &__item {
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 250px;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        transform: scale(1.2);
      }

      &__photo {
        display: flex;
        justify-content: center;

        img {
          width: 250px;
          width: 250px;
          object-fit: contain;
          object-position: top center;
          background-color: $color-light-grey;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        &__character-name {
          font-size: 1.25rem;
          color: $color-primary;
          margin-bottom: 0.5rem;
        }

        &__tags {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }
      }
    }
  }
}
