@import '../../variables.scss';

:host {
  .register {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;

    &__wrapper {
      height: auto;
      width: 400px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &__go-back {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        &:hover {
          > svg > path {
            fill: $color-primary;
          }

          span {
            color: $color-primary;
          }
        }

        &__project-name {
          font-size: 1rem;
          font-weight: 100;
          color: $color-grey;
        }
      }

      &__container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 2rem 0 0 0;

        &__image {
          // width: 130px;
          // height: 130px;
          // border-radius: 50%;
          // background-color: $color-light-grey;
          // object-fit: cover;
        }
      }

      &__register {
        font-size: 16px;
        font-weight: 300;
        display: flex;
        justify-content: right;
        gap: 2px;
        margin-top: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
