@import '../../../variables.scss';

:host {
  .character-detail {
    &__header {
      height: 400px;
      background: #fff;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      &__thumbnail {
        width: 400px;
        height: 400px;
        min-width: 400px;
        background: $color-light-grey;
        border-radius: 50%;
        object-fit: cover;
        object-position: top center;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        height: 100%;

        &__go-back {
          color: $color-grey;
          display: flex;
          gap: 0.5rem;
          font-weight: 100;
          cursor: pointer;
        }

        &__fullname {
          font-size: 5rem;
          color: $color-primary;
          font-weight: 500;
        }

        &__description {
          font-size: 1.5rem;
          font-weight: 100;
        }

        &__tags {
          display: flex;
          gap: 5px;
        }
      }
    }
  }

  ::ng-deep p {
    margin: 0;
  }

  @media (min-width: 375px) and (max-width: 768px) {
    .character-detail {
      &__header {
        padding: 0;
        height: auto;
        flex-direction: column;

        &__thumbnail {
          height: 250px;
          width: 100%;
          object-fit: cover;
          border-radius: 0%;
          object-position: top center;
        }

        &__info {
          gap: 0.5rem;
          width: 100%;
          padding-bottom: 1rem;

          &__fullname {
            font-size: 2rem;
          }

          &__fullname,
          &__description,
          &__tags,
          &__go-back {
            padding: 0 1rem;
          }
        }
      }
    }
  }
}
