@import '../../variables.scss';

:host {
  .masterclass {
    &__header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;

      &__global-search {
        width: 600px;
      }
    }
  }
}
